n8n-workflows/smarttable-chatbot.json
{
  "name": "SmartTable Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "smarttable-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 300],
      "webhookId": "smarttable-chat-webhook"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body ?? $input.first().json;\nconst message = (body.message || '').toLowerCase().trim();\nconst menus = body.menus || [];\n\nlet intent = 'unknown';\n\nif (/^(bonjour|salut|hello|bonsoir|hey|coucou)\\b/.test(message) || /\\b(aide|help)\\b/.test(message)) {\n  intent = 'greeting';\n} else if (/\\b(oui|confirmer|valider|ok|c'est bon|parfait)\\b/.test(message)) {\n  intent = 'confirm_order';\n} else if (/\\b(annuler|cancel|non|stop)\\b/.test(message)) {\n  intent = 'cancel';\n} else if (/\\b(commander|je veux|je prends|donne moi|un |deux |trois |\\d+\\s*(x|×))\\b/.test(message) || menus.some(m => message.includes((m.nom_plat || '').toLowerCase()))) {\n  intent = 'order';\n} else if (/\\b(menu|carte|plat|manger|quoi|proposer|suggestion)\\b/.test(message)) {\n  intent = 'browse_menu';\n}\n\nreturn [{\n  json: {\n    ...body,\n    intent,\n    original_message: body.message\n  }\n}];"
      },
      "id": "b2c3d4e5-f6a7-8901-bcde-f12345678901",
      "name": "Detect Intent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "greeting", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "greeting"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "browse_menu", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "browse_menu"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "order", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "order"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "confirm_order", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "confirm_order"
            },
            {
              "conditions": {
                "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "strict" },
                "conditions": [{ "leftValue": "={{ $json.intent }}", "rightValue": "cancel", "operator": { "type": "string", "operation": "equals" } }],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cancel"
            }
          ]
        },
        "options": { "fallbackOutput": "extra" }
      },
      "id": "c3d4e5f6-a7b8-9012-cdef-123456789012",
      "name": "Switch Intent",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json;\nconst nom = d.restaurant_nom || 'notre restaurant';\nconst table = d.table_numero || '?';\nreturn [{\n  json: {\n    reply: `Bonjour et bienvenue chez ${nom} ! Vous êtes à la table n°${table}. Je suis votre assistant SmartTable — demandez « le menu » ou commandez directement un plat.`,\n    source: 'n8n',\n    meal_period: d.meal_period || 'tout',\n    session_id: d.session_id\n  }\n}];"
      },
      "id": "d4e5f6a7-b8c9-0123-def0-234567890123",
      "name": "Greeting",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 0]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=Tu es l'assistant IA du restaurant {{ $json.restaurant_nom }}. Table n°{{ $json.table_numero }}. Période : {{ $json.meal_period }}. Menu disponible : {{ JSON.stringify($json.menus) }}. Présente les plats de façon naturelle et appétissante. Réponds en français. Sois concis (max 150 mots)."
            },
            {
              "role": "user",
              "content": "={{ $json.original_message }}"
            }
          ]
        },
        "options": { "temperature": 0.7 }
      },
      "id": "e5f6a7b8-c9d0-1234-ef01-345678901234",
      "name": "OpenAI Browse Menu",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [760, 160],
      "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI account" } }
    },
    {
      "parameters": {
        "jsCode": "const d = $('Detect Intent').first().json;\nconst ai = $input.first().json;\nconst reply = ai.message?.content || ai.text || ai.choices?.[0]?.message?.content || 'Voici notre carte du jour.';\nreturn [{\n  json: {\n    reply,\n    source: 'n8n',\n    meal_period: d.meal_period,\n    session_id: d.session_id\n  }\n}];"
      },
      "id": "f6a7b8c9-d0e1-2345-f012-456789012345",
      "name": "Format Browse Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 160]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=Extrais la commande du message client. Menu disponible : {{ JSON.stringify($json.menus) }}. Réponds UNIQUEMENT en JSON strict sans markdown : {\"nom_plat\":\"...\",\"sauce\":\"... ou null\",\"quantite\":1}. Si plat introuvable, nom_plat=null."
            },
            {
              "role": "user",
              "content": "={{ $json.original_message }}"
            }
          ]
        },
        "options": { "temperature": 0.2 }
      },
      "id": "a7b8c9d0-e1f2-3456-0123-567890123456",
      "name": "OpenAI Extract Order",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1.1,
      "position": [760, 320],
      "credentials": { "openAiApi": { "id": "OPENAI_CREDENTIAL_ID", "name": "OpenAI account" } }
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Detect Intent').first().json;\nconst ai = $input.first().json;\nconst raw = ai.message?.content || ai.text || ai.choices?.[0]?.message?.content || '{}';\nlet parsed;\ntry {\n  parsed = JSON.parse(raw.replace(/```json?|```/g, '').trim());\n} catch (e) {\n  parsed = { nom_plat: null, sauce: null, quantite: 1 };\n}\nconst menus = ctx.menus || [];\nconst menu = menus.find(m => (m.nom_plat || '').toLowerCase() === (parsed.nom_plat || '').toLowerCase());\nif (!menu) {\n  return [{\n    json: {\n      skip_order: true,\n      reply: `Je n'ai pas trouvé « ${parsed.nom_plat || 'ce plat'} » dans la carte. Pouvez-vous préciser ?`,\n      source: 'n8n',\n      meal_period: ctx.meal_period,\n      session_id: ctx.session_id\n    }\n  }];\n}\nreturn [{\n  json: {\n    skip_order: false,\n    restaurant_id: ctx.restaurant_id,\n    table_id: ctx.table_id,\n    session_id: ctx.session_id,\n    menu_id: menu.id,\n    sauce: parsed.sauce,\n    quantite: parsed.quantite || 1,\n    meal_period: ctx.meal_period,\n    nom_plat: menu.nom_plat\n  }\n}];"
      },
      "id": "b8c9d0e1-f2a3-4567-1234-678901234567",
      "name": "Parse Order JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [{ "leftValue": "={{ $json.skip_order }}", "rightValue": true, "operator": { "type": "boolean", "operation": "true" } }],
          "combinator": "and"
        }
      },
      "id": "c9d0e1f2-a3b4-5678-2345-789012345678",
      "name": "Order Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1240, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BACKEND_URL || 'http://localhost:8000' }}/api/orders",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"restaurant_id\": {{ $json.restaurant_id }},\n  \"table_id\": {{ $json.table_id }},\n  \"menu_id\": {{ $json.menu_id }},\n  \"sauce\": {{ $json.sauce ? '\"' + $json.sauce + '\"' : 'null' }},\n  \"quantite\": {{ $json.quantite }},\n  \"session_id\": \"{{ $json.session_id }}\"\n}",
        "options": {}
      },
      "id": "d0e1f2a3-b4c5-6789-3456-890123456789",
      "name": "POST Order API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1480, 400]
    },
    {
      "parameters": {
        "jsCode": "const ctx = $('Parse Order JSON').first().json;\nconst res = $input.first().json;\nconst cmd = res.commande || res;\nconst total = cmd.total || 0;\nreturn [{\n  json: {\n    reply: `✅ Commande enregistrée : ${ctx.quantite}× ${ctx.nom_plat}${ctx.sauce ? ' (' + ctx.sauce + ')' : ''} — ${total} MAD. Le restaurant a été notifié.`,\n    source: 'n8n',\n    meal_period: ctx.meal_period,\n    session_id: ctx.session_id\n  }\n}];"
      },
      "id": "e1f2a3b4-c5d6-7890-4567-901234567890",
      "name": "Order Success Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1720, 400]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Detect Intent').first().json;\nreturn [{\n  json: {\n    reply: 'Parfait ! Votre commande est confirmée. Bon appétit et merci de votre visite !',\n    source: 'n8n',\n    meal_period: d.meal_period,\n    session_id: d.session_id\n  }\n}];"
      },
      "id": "f2a3b4c5-d6e7-8901-5678-012345678901",
      "name": "Confirm Order",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 480]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Detect Intent').first().json;\nreturn [{\n  json: {\n    reply: 'Très bien, commande annulée. Souhaitez-vous autre chose ?',\n    source: 'n8n',\n    meal_period: d.meal_period,\n    session_id: d.session_id\n  }\n}];"
      },
      "id": "a3b4c5d6-e7f8-9012-6789-123456789012",
      "name": "Cancel Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 600]
    },
    {
      "parameters": {
        "jsCode": "const d = $('Detect Intent').first().json;\nreturn [{\n  json: {\n    reply: `Je suis l'assistant de ${d.restaurant_nom || 'votre restaurant'}. Demandez « le menu » ou dites-moi ce que vous souhaitez commander.`,\n    source: 'n8n',\n    meal_period: d.meal_period,\n    session_id: d.session_id\n  }\n}];"
      },
      "id": "b4c5d6e7-f8a9-0123-7890-234567890123",
      "name": "Unknown Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [760, 720]
    },
    {
      "parameters": { "mode": "append" },
      "id": "c5d6e7f8-a9b0-1234-8901-345678901234",
      "name": "Merge Responses",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1960, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ reply: $json.reply, source: $json.source || 'n8n', meal_period: $json.meal_period, session_id: $json.session_id }) }}",
        "options": {}
      },
      "id": "d6e7f8a9-b0c1-2345-9012-456789012345",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2200, 360]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Detect Intent", "type": "main", "index": 0 }]] },
    "Detect Intent": { "main": [[{ "node": "Switch Intent", "type": "main", "index": 0 }]] },
    "Switch Intent": {
      "main": [
        [{ "node": "Greeting", "type": "main", "index": 0 }],
        [{ "node": "OpenAI Browse Menu", "type": "main", "index": 0 }],
        [{ "node": "OpenAI Extract Order", "type": "main", "index": 0 }],
        [{ "node": "Confirm Order", "type": "main", "index": 0 }],
        [{ "node": "Cancel Reply", "type": "main", "index": 0 }],
        [{ "node": "Unknown Fallback", "type": "main", "index": 0 }]
      ]
    },
    "Greeting": { "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]] },
    "OpenAI Browse Menu": { "main": [[{ "node": "Format Browse Reply", "type": "main", "index": 0 }]] },
    "Format Browse Reply": { "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]] },
    "OpenAI Extract Order": { "main": [[{ "node": "Parse Order JSON", "type": "main", "index": 0 }]] },
    "Parse Order JSON": { "main": [[{ "node": "Order Valid?", "type": "main", "index": 0 }]] },
    "Order Valid?": {
      "main": [
        [{ "node": "Merge Responses", "type": "main", "index": 0 }],
        [{ "node": "POST Order API", "type": "main", "index": 0 }]
      ]
    },
    "POST Order API": { "main": [[{ "node": "Order Success Reply", "type": "main", "index": 0 }]] },
    "Order Success Reply": { "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]] },
    "Confirm Order": { "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]] },
    "Cancel Reply": { "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]] },
    "Unknown Fallback": { "main": [[{ "node": "Merge Responses", "type": "main", "index": 0 }]] },
    "Merge Responses": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-06-08T12:00:00.000Z",
  "versionId": "smarttable-chatbot-v1"
}
